.monthSelector {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthSelector button {
    all: unset;
}

.monthSelector button:hover {
    font-size: 30px;
    color: red;
}

#month {
    margin-left: 10%;
    margin-right: 10%;

    font-size: 2em;
}
