body {
    margin: 0px;
}
header {
    height: 5vh;
}
#titleBar {
    display: flex;
}

#titleLogo {
}

.inSelector {
    width: 33%;
    text-align: center;
    list-style: none;
}

.inSelector a,
#titleLogo a {
    text-decoration: none;
}
