main {
    margin: 50px 100px;
    height: 70vh;
}

#list {
    height: 100%;

    background-color: pink;
    opacity: 0;
}

#listView {
    height: 85%;
    display: flex;
    justify-content: space-evenly;
}

.listElement {
    border: 1px solid black;
    border-radius: 10px;
    width: calc(97% / 3);
}

#calender {
    opacity: 0;
}

#graph {
    opacity: 0;
}

.dayInfo {
    border: 1px solid black;
}
